body {
    background-color: aliceblue;
    font-family: 'Comfortaa';
    text-align: center;
}
h1 {
    padding: 2px;
}

#toptitle {
    background-color: white;
    padding: 4px;
    text-align: center;
    width: max-content;
    display: block;
    margin-inline: auto;
    border-radius: 4px;
}